.div-auth {
  background-color: rgba(236, 230, 223, 0.852);
  /* margin: 15vh 25vw; */
  padding: 3vh 3vw;
  width: 30rem;
  border-radius: 10px;
}

.input-auth {
  margin: 1vh 0;
  background-color: var(--color-white);
  border: none;
  width: 20rem;
  height: 3rem;
  color: var(--color-red);
  font-size: 1rem;
  font-weight: 400;
}

.input-auth::placeholder {
  color: var(--color-red);
  font-size: 1rem;
  font-weight: 400;
}

.input-auth[type='submit'] {
  margin: 1vh 0;
  background-color: var(--color-red);
  border: 1px solid;
  width: 8rem;
  border-radius: 5px;
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.footer-auth {
  color: var(--color-red);
}