.login-content {
  width: 100vw;
  height: 100vh;
  background-image: url(../../assets/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-auth {
  background-color: rgba(236, 230, 223, 0.758);
  /* margin: 15vh 25vw; */
  padding: 3vh 3vw;
  width: 50vw;
  border-radius: 10px;
}

.input-auth {
  margin: 1vh 0;
  background-color: var(--color-white);
  border: none;
  width: 29vw;
  height: 3vh;
  color: var(--color-red);
  font-size: 1rem;
  font-weight: 400;
}

.input-auth::placeholder {
  color: var(--color-red);
  font-size: 1rem;
  font-weight: 400;
}

.input-auth[type='submit'] {
  margin: 1vh 0;
  background-color: var(--color-red);
  border: 1px solid;
  width: 15vw;
  border-radius: 5px;
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 600;
}

.footer-auth {
  color: var(--color-red);
}

.footer-auth a {
  display: block;
  color: var(--color-red);
}