.register-content {
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
  }
