.header-salon {
    background-color: var(--color-white);
    width: 100vw;
    height: 8rem;
    position: fixed;
    top: 0;
    left: 0;
}

.role-name {
    color: var(--color-black);
    font-size: 2rem
}

.logout {
    cursor: pointer;
}

.header-container {
    width: 100%;
    max-width: 40rem;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}