.menu-box {
    display: flex;
    justify-content: center;

    width: 100%;
    padding: 0.5rem 0;
    border-radius: 10px;
    
    background-color: var(--color-black);
    color: var(--color-white);

}

.product {
    width: 80%;
}

.meal-menu-text {
    margin: 0;
    font-size: 1.5rem;
    padding-bottom: 0.3rem;
}

.item-content {
    display: flex;
    align-items: center;

    background-color: var(--color-white);
    color: var(--color-black);

    border-bottom: 1px solid var(--color-black);
    height: 3rem;
    width: 80%;
}

.plus-sign {
    width: 1.5rem;
    height: 1.5rem;
}

.finished-order-box {
    width: 80%;
    margin-bottom: 0.5rem;

    display: flex;
    justify-content: space-between;

    background-color: var(--color-white);
    color: var(--color-black);

    font-size: 1.3rem;
}

.number-order {
    width: 40%;
}

.checkbox {
    width: 2rem;
    height: 2rem;
    color: var(--color-black);
}

.align-tag {
    display: flex;
    align-items: center;
}