.order-content {
    background-color: var(--color-red);
    min-width: 80vw;
    padding: 1vh 0;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.order-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 0.8rem;
}

.cart {
    width: 100%;
}

.send-order-btn {
    width: 100%;
    border: none;
    background-color: var(--color-red);
    color: var(--color-white);
    font-size: 1rem;
    padding-top: 0.5rem;
}

.total-content {
    width: 100%;
    background-color: var(--color-white);
    color: var(--color-black);
    /* text-align: end; */
}

.cart-input {
    background-color: transparent;
    border: none;
    border-bottom: 1px var(--color-white);
}