.menu {
    width: 100vw;
    min-height: 100vh;
    background-image: url(../../assets/background.svg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 25vh 0 5vh 0;
}
